*/.settings/
*/target/
*/.settings
*/.classpath
*/.project
/jpa/jpa_basics/jpa_basics_Enumerated/target/
/jpa/jpa_basics/jpa_basics_GeneratedValue_Default_AUTO/target/
/jpa/jpa_basics/jpa_basics_GeneratedValue_Identity/target/
/jpa/jpa_basics/jpa_basics_GeneratedValue_None/target/
/jpa/jpa_basics/jpa_basics_GeneratedValue_Sequence/target/
/jpa/jpa_basics/jpa_basics_TableAndColumn/target/
/jpa/jpa_basics/jpa_basics_Temporal/target/
/jpa/jpa_basics/jpa_basics_Transient/target/
/jpa/jpa_basics/jpa_basics_default_datatypes/target/
/jpa/jpa_basics/jpa_basics_lifecycle/target/
/jpa/jpa_basics/jpa2.0_basics_lifecycle_detach/target/
/jpa/jpa_basics/jpa_basics_WebJpa/target/
/jpa/jpa_basics/jpa_basics_JsfJpa/target/
/jpa/jpa_basics/Myjpa_basics_WebJpa/target/
/jpa/jpa_1_mapping1/jpa1_01_OneToOne_UniDirectional_NoAnnotation/target/
/jpa/jpa_1_mapping1/jpa1_02_OneToOne_UniDirectional_Annotation/target/
/jpa/jpa_1_mapping1/jpa1_03_OneToOne_UniDirectional_Annotation_JoinColumn/target/
/jpa/jpa_1_mapping1/jpa1_04_OneToOne_Bidirectional_Annotation_CustomerIsOwner/target/
/jpa/jpa_1_mapping1/jpa1_05_OneToOne_Bidirectional_Annotation_OrderIsOwner/target/
/jpa/jpa_1_mapping1/jpa1_11_OneToMany_Unidirectional_NoAnnotation_JoinTable_NoCascade/target/
/jpa/jpa_1_mapping1/jpa1_12_OneToMany_UniDirectional_Annotation_JoinTable_Cascade/target/
/jpa/jpa_1_mapping1/jpa1_13_OneToMany_Bidirectional_NoAnnotation_JoinTable_NoCascade/target/
/jpa/jpa_1_mapping1/jpa1_14_OneToMany_Bidirectional_Annotation_JoinTable_Cascade/target/
/jpa/jpa_1_mapping1/jpa1_15_OneToMany_Bidirectional_Annotation_JoinTable_Custom/target/
/jpa/jpa_1_mapping1/jpa1_16_OneToMany_Bidirectional_Annotation_ForeignKey/target/
/jpa/jpa_1_mapping1/jpa1_31_ManyToMany_Bidirectional_JoinTable_EventIsOwner/target/
/jpa/jpa_1_mapping1/jpa1_32_ManyToMany_Bidirectional_JoinTable_SpeakerIsOwner/target/
/jpa/jpa_1_mapping1/jpa1_33_ManyToMany_Bidirectional_JoinTable_Custom/target/
/jpa/jpa_1_mapping1/homework_jpa_mapping1/target/
/jpa/jpa1_mapping2/ORInheritanceJOINED/target/
/jpa/jpa1_mapping2/ORInheritanceSINGLE_TABLE/target/
/jpa/jpa1_mapping2/jpa2_01_orinheritance_single_table/target/
/jpa/jpa1_mapping2/jpa2_01_orinheritance_singletable/target/
/jpa/jpa1_mapping2/jpa2_02_orinheritance_singletable/target/
/jpa/jpa1_mapping2/jpa2_02_orinheritance_joined/target/
/jpa/jpa1_mapping2/jpa2_02_orinheritance_tableperclass/target/
/jpa/jpa1_jpql/jpa1_jpql_01_jpaquery_simple_where_clause/target/
/jpa/jpa1_jpql/jpa1_jpql_02_jpaquery_simple_order_by/target/
/jpa/jpa1_jpql/jpa1_jpql_03_jpaquery_simple_range/target/
/jpa/jpa1_jpql/jpa1_jpql_04_jpaquery_simple_query_parameters/target/
/jpa/jpa1_jpql/jpa1_jpql_05_jpaquery_relation_traversal1/target/
/jpa/jpa1_mapping2/CustomerApp/nbproject/private/
/jpa/jpa1_jpql/jpa1_jpql_06_jpaquery_relation_traversal2/target/
/jpa/jpa1_jpql/jpa1_jpql_07_jpaquery_relation_traversal3/target/
/jpa/jpa1_jpql/jpa1_jpql_08_jpaquery_relation_join_fetch/target/
/jpa/jpa1_jpql/jpa1_jpql_09_jpaquery_function_string_manipulation/target/
/jpa/jpa1_mapping2/jpa1_jpql_10_jpaquery_function_arithmetic_operation/nbproject/private/
/jpa/jpa1_jpql/jpa1_jpql_10_jpaquery_function_arithmetic_operation/target/
/jpa/jpa1_jpql/jpa1_jpql_11_jpaquery_aggregates/target/
/jpa/jpa1_jpql/jpa1_jpql_12_jpaquery_polymorphic1_single_table/target/
/jpa/jpa1_jpql/jpa1_jpql_13_jpaquery_polymorphic1_single_table/target/
/jpa/jpa1_jpql/jpa1_jpql_13_jpaquery_polymorphic2_joined/target/