*/.settings/
*/target/
*/.settings
*/.classpath
*/.project
/jpa/jpa_basics/jpa_basics_Enumerated/target/
/jpa/jpa_basics/jpa_basics_GeneratedValue_Default_AUTO/target/
/jpa/jpa_basics/jpa_basics_GeneratedValue_Identity/target/
/jpa/jpa_basics/jpa_basics_GeneratedValue_None/target/
/jpa/jpa_basics/jpa_basics_GeneratedValue_Sequence/target/
/jpa/jpa_basics/jpa_basics_TableAndColumn/target/
/jpa/jpa_basics/jpa_basics_Temporal/target/
/jpa/jpa_basics/jpa_basics_Transient/target/
/jpa/jpa_basics/jpa_basics_default_datatypes/target/
/jpa/jpa_basics/jpa_basics_lifecycle/target/
/jpa/jpa_basics/jpa2.0_basics_lifecycle_detach/target/
/jpa/jpa_basics/jpa_basics_WebJpa/target/
/jpa/jpa_basics/jpa_basics_JsfJpa/target/
/jpa/jpa_basics/Myjpa_basics_WebJpa/target/
/jpa/jpa_1_mapping1/jpa1_01_OneToOne_UniDirectional_NoAnnotation/target/
/jpa/jpa_1_mapping1/jpa1_02_OneToOne_UniDirectional_Annotation/target/
/jpa/jpa_1_mapping1/jpa1_03_OneToOne_UniDirectional_Annotation_JoinColumn/target/
/jpa/jpa_1_mapping1/jpa1_04_OneToOne_Bidirectional_Annotation_CustomerIsOwner/target/
/jpa/jpa_1_mapping1/jpa1_05_OneToOne_Bidirectional_Annotation_OrderIsOwner/target/
/jpa/jpa_1_mapping1/jpa1_11_OneToMany_Unidirectional_NoAnnotation_JoinTable_NoCascade/target/
/jpa/jpa_1_mapping1/jpa1_12_OneToMany_UniDirectional_Annotation_JoinTable_Cascade/target/
/jpa/jpa_1_mapping1/jpa1_13_OneToMany_Bidirectional_NoAnnotation_JoinTable_NoCascade/target/
/jpa/jpa_1_mapping1/jpa1_14_OneToMany_Bidirectional_Annotation_JoinTable_Cascade/target/
/jpa/jpa_1_mapping1/jpa1_15_OneToMany_Bidirectional_Annotation_JoinTable_Custom/target/
/jpa/jpa_1_mapping1/jpa1_16_OneToMany_Bidirectional_Annotation_ForeignKey/target/
/jpa/jpa_1_mapping1/jpa1_31_ManyToMany_Bidirectional_JoinTable_EventIsOwner/target/
/jpa/jpa_1_mapping1/jpa1_32_ManyToMany_Bidirectional_JoinTable_SpeakerIsOwner/target/
/jpa/jpa_1_mapping1/jpa1_33_ManyToMany_Bidirectional_JoinTable_Custom/target/
/jpa/jpa_1_mapping1/homework_jpa_mapping1/target/