<!DOCTYPE html>
<html>

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
</head>

<body>

    <div ng-app="myApp" ng-controller="namesCtrl">

        <p>Orderby asec:</p>
        <ul>
            <li ng-repeat="x in students | orderBy:'name'| orderBy:'age'">
                {{ x.name + ', ' + x.age }}
            </li>
        </ul>

        <p>Orderby desc:</p>
        <ul>
            <li ng-repeat="x in students | orderBy:'-age'">
                {{ x.name + ', ' + x.age }}
            </li>
        </ul>

        <p>Orderby hobby desc:</p>
        <ul>
            <li ng-repeat="x in students | orderBy:'-hobby'">
                {{ x.hobby + ', ' + x.name + ', ' + x.age }}
            </li>
        </ul>

    </div>

    <script>
        angular.module('myApp', []).controller('namesCtrl', function ($scope) {
            $scope.students = [
                {
                    name: 'Joni Malon',
                    age: 22,
                    hobby: 'Videogames'
				},
                {
                    name: 'Sang Shin',
                    age: 99,
                    hobby: 'Walking'
				},
                {
                    name: 'Mary Jones',
                    age: 22,
                    hobby: 'Cinema'
				},
                {
                    name: 'Tom Jane',
                    age: 50,
                    hobby: 'Cycling'
				},
                {
                    name: 'Yunna kim',
                    age: 57,
                    hobby: 'Swimming'
				}
            ];
        });

        // <For your own exercise>
        // - Add hobby field to the stdents
        // - Display students based on descending order of hobby
    </script>

</body>

</html>